.container {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.slide {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  text-align: center;
  scroll-snap-align: center;
}
